---
---

@charset "utf-8";

body {
    font-size: 115%;
    line-height: 1.5;
}

#content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 960px;
    color: #212933;
}

h1, h2, h3 {
    color: #223340;
}

a, a:visited, a:hover, a:active {
    color: #4B5D73;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

article {
    p, li {
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
    }
}

#menu {
    @media screen and (min-width: 64em) {
        padding-top: 4.5em;
    }

    li {
        line-height: 2;
    }

    .fa {
      vertical-align: middle;
      line-height: 1.65;
    }

    .selected {
        font-weight: bold;

        &, &:visited, &:hover, &:active {
          color: #2A3440;
        }
    }
}

.pure-table {
    font-size: 90%;
}

@import "syntax-highlighting";
