<ul id="menu" class="fa-ul">
  {% for link in layout.navigation %}
  <li>
    <i class="fa-li fa {{ link.icon }}"></i><a href="{{ link.url | prepend: site.baseurl }}" {% if page.url == link.url %}class="selected"{% endif %}>{{ link.text }}</a>
    {% if link.subnavigation and page.url contains link.url %}
    <ul class="fa-ul">
      {% for sub in link.subnavigation %}
      <li>
        {% if sub.url contains "://" %}
        <i class="fa-li fa {{ sub.icon }}"></i><a href="{{ sub.url }}" {% if page.url == sub.url %}class="selected"{% endif %}>{{ sub.text }}</a>
        {% else %}
        <i class="fa-li fa {{ sub.icon }}"></i><a href="{{ sub.url | prepend: site.baseurl }}" {% if page.url == sub.url %}class="selected"{% endif %}>{{ sub.text }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
