<footer class="align-center">
  <div class="likely" data-url="{{ site.url }}">
    <div class="facebook">Share</div>
    <div class="twitter">Tweet</div>
    <div class="gplus">+1</div>
    <div class="vkontakte">Share</div>
  </div>
</footer>

<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/base-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/grids-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/grids-responsive-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/tables-min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/ilyabirman-likely/2.2.2/likely.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/ilyabirman-likely/2.2.2/likely.js"></script>
