<footer>
  <div class="likely" data-url="http://ural-pdc.org/">
    <div class="facebook">Share</div>
    <div class="twitter" data-via="nlpub">Tweet</div>
    <div class="gplus">+1</div>
    <div class="vkontakte">Share</div>
  </div>
</footer>

<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//yui.yahooapis.com/combo?pure/0.6.0/base-min.css&amp;pure/0.6.0/grids-min.css&amp;pure/0.6.0/tables-min.css&amp;pure/0.6.0/grids-responsive-min.css">
<script src="{{ "/likely/release/likely.js" | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ "/likely/release/likely.css" | prepend: site.baseurl }}">
<link rel="stylesheet" property="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
