---
layout: compress
navigation:
- text: Ural-PDC 2019
  url: /
  icon: fa-calendar
  subnavigation:
  - text: Committees
    url:  /2019/committees.html
    icon: fa-users
- text: Ural-PDC 2018
  url: /2018/
  icon: fa-calendar
  subnavigation:
  - text: Proceedings
    url:  http://ceur-ws.org/Vol-2281/
    icon: fa-book
  - text: Programme
    url:  /2018/program.html
    icon: fa-list
  - text: Committees
    url:  /2018/committees.html
    icon: fa-users
  - text: EasyChair
    url:  https://easychair.org/conferences/?conf=uralpdc2018
    icon: fa-cloud-upload
- text: Ural-PDC 2017
  url:  /2017/
  icon: fa-calendar
  subnavigation:
  - text: Proceedings
    url:  http://ceur-ws.org/Vol-1990/
    icon: fa-book
  - text: Programme
    url:  /2017/program.html
    icon: fa-list
  - text: Committees
    url:  /2017/committees.html
    icon: fa-users
  - text: EasyChair
    url:  https://easychair.org/conferences/?conf=uralpdc2017
    icon: fa-cloud-upload
- text: Ural-PDC 2016
  url:  /2016/
  icon: fa-calendar
  subnavigation:
  - text: Proceedings
    url:  http://ceur-ws.org/Vol-1729/
    icon: fa-book
  - text: Presentations
    url:  http://www.slideshare.net/uralpdc/clipboards/ural-pdc-2016
    icon: fa-slideshare
  - text: Programme
    url:  /2016/program.html
    icon: fa-list
  - text: Committees
    url:  /2016/committees.html
    icon: fa-users
  - text: EasyChair
    url:  https://easychair.org/conferences/?conf=uralpdc2016
    icon: fa-cloud-upload
- text: Ural-PDC 2015
  url:  /2015/
  icon: fa-calendar
  subnavigation:
  - text: Proceedings
    url:  http://ceur-ws.org/Vol-1513/
    icon: fa-book
  - text: Programme
    url:  /2015/program.html
    icon: fa-list
  - text: Committees
    url:  /2015/committees.html
    icon: fa-users
  - text: EasyChair
    url:  https://easychair.org/conferences/?conf=uralpdc2015
    icon: fa-cloud-upload
- text: Contacts
  url: /contacts.html
  icon: fa-comment
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include metrika.html %}
<div id="content">
<div class="pure-g">
  <article class="pure-u-1 pure-u-lg-4-5">
    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
{{ content }}
  </article>
  <aside class="pure-u-1 pure-u-lg-1-5">
{% include aside.html %}
  </aside>
</div>
</div>
<footer class="align-center">
  <div id="likely" class="likely" data-url="{{ site.url }}">
    <div class="facebook">Share</div>
    <div class="twitter">Tweet</div>
    <div class="vkontakte">Share</div>
  </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/base-min.css" integrity="sha256-KskuhrN/AHAFLnJqH17TJYiNwWFtBizDTwoJ8x+fK7Y=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/grids-min.css" integrity="sha256-vGvwP0/0zPpoYflzw76FFDB3cI7BNdCcjB77C5Q2MKw=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/grids-responsive-min.css" integrity="sha256-4v5Mb8doqtYXS4O6WjkWeCXyi/6fezMMAINzFpEM5gU=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/tables-min.css" integrity="sha256-t3dLKX+KHyFbkZ4HgLFGXkUI8s4e1dcvPMWazmWs3UE=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ilyabirman-likely/2.3.1/likely.css" integrity="sha256-fG+Jslxxk4H/VpC+UEEn8POOch4Cu28ubRSUwATUkKM=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/ilyabirman-likely/2.3.1/likely.js" integrity="sha256-9Kxltq+z8wpmsHTFYMA02TiwUcyRMAr7JaZ5kmyQlf8=" crossorigin="anonymous"></script>
</body>
</html>
