---
navigation:
- text: Ural-PDC 2016
  url:  /2016/
  icon: fa-calendar
  subnavigation:
  - text: EasyChair
    url:  https://easychair.org/conferences/?conf=uralpdc2016
    icon: fa-cloud-upload
- text: Ural-PDC 2015
  url:  /2015/
  icon: fa-calendar
  subnavigation:
  - text: Program
    url:  /2015/program.html
    icon: fa-list
  - text: Committees
    url:  /2015/committees.html
    icon: fa-users
  - text: Proceedings
    url:  http://ceur-ws.org/Vol-1513/
    icon: fa-book
  - text: EasyChair
    url:  https://easychair.org/conferences/?conf=uralpdc2015
    icon: fa-cloud-upload
- text: Contacts
  url: /contacts.html
  icon: fa-comment
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include metrika.html %}
<div id="content">
<div class="pure-g">
  <article class="pure-u-1 pure-u-lg-4-5">
    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
{{ content }}
  </article>
  <aside class="pure-u-1 pure-u-lg-1-5">
{% include aside.html %}
  </aside>
</div>
{% include footer.html %}
</div>
</body>
</html>
